.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(21, 0, 255);
}
.note
{
    font-size: 15px;
    color: rgb(0, 252, 218);
}
.copy_right_footer {
    position: fixed;
    color: rgb(1, 205, 251);
    bottom: 0;
    width: 100%;
    background-color: rgb(51, 0, 255);
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 5px solid rgb(76, 183, 245);
    border-radius: 20px;
    box-shadow: rgb(43, 0, 255);
}